<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my-5">About us</h1>
    <p class="text-zinc-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        consequuntur aliquid alias repellendus fuga, itaque esse commodi
        possimus vero voluptates deserunt eius autem distinctio vitae id
        veritatis labore aut neque?
    </p>
</section>
