<div class="card text-center">
    <img src="astro-logo-color.png" class="card__image w-20 m-auto" alt="" />
    <p class="mt-4 text-red-700 font-bold">Dev Management</p>
</div>

<style>
    .card__image {
        filter: opacity(0.2);
        filter: saturate(0);
        transition: all 300ms linear;
    }

    .card__image:hover {
        filter: opacity(1);
        filter: saturate(1);
    }
</style>
