<header
    class="rounded-xl w-full bg-red-700 overflow-hidden flex flex-col md:flex-row gap-3 pt-8 pb-8 pl-7 pr-7"
>
    <div class="basis-2/3 text-center md:text-left py-20">
        <h1 class="text-7xl mb-7">Protect your password</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            eum quisquam iste doloremque, odit ad natus a quidem iusto eos, odio
            culpa ullam error molestias?
        </p>
        <button class="header__btn mb-5 mt-5 bg-indigo-500 px-3 py-2"
            >Start now</button
        >
    </div>
    <div class="image__container w-full h-full justify-center items-center">
        <img src="/public/fingerprint.svg" alt="" class="basis-1/3 image" />
    </div>
</header>

<style>
    .header__btn {
        border: 2px solid white;
        border-radius: 3px;
        background-color: #b3093e;
        transition: all 300ms ease-in-out;
    }

    .header__btn:hover {
        background-color: #e20b4f;
    }

    .image__container {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 65%;
    }
</style>
