<header
    class="bg-red-800 overflow-hidden flex flex-col md:flex-row gap-3 pt-8 pb-8 pl-7"
>
    <div class="basis-2/3">
        <h1 class="text-7xl">Protect your password</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quia
            totam sint ipsum rem voluptatem, accusantium beatae autem! Nihil,
            similique.
        </p>
        <button
            class="mb-5 mt-5 bg-indigo-500 px-3 py-2 delay-300 hover:bg-indigo-400"
            >Start now</button
        >
    </div>
    <img src="/public/fingerprint.svg" alt="" class="w-80 basis-1/3" />
</header>
