---
import Layout from "../layouts/layout.astro";
---

<Layout title="Acerca de nosotros">
    <h1>About</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dolorum
    accusantium ad eum numquam, quidem nulla necessitatibus nisi officia itaque iste
    animi suscipit consequuntur praesentium blanditiis minima atque enim similique
    dolore nostrum odio? Reiciendis veniam optio beatae hic rerum. A, tenetur voluptatibus.
    Minima molestiae ullam quisquam quo ipsum quaerat error inventore, nesciunt est
    ad ea reprehenderit odit et, placeat amet obcaecati animi? Illum aperiam corporis
    consectetur, eligendi eveniet veniam iste quasi. Temporibus vel voluptas nobis
    animi odio ea dolorum pariatur rerum placeat explicabo, delectus odit, veniam
    tempore quia voluptates expedita? Laborum, voluptatibus et. Cupiditate optio
    magnam libero ipsa modi?
</Layout>
