---
interface Props {
    title: string;
}
import "../styles/layout.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro Landing - {title}</title>
    </head>
    <body>
        <main class="mx-auto container pt-9 pl-9 pr-9">
            <slot />
        </main>
    </body>
</html>
